body { background-color: #FFFFFF; font-family: 'Open Sans', sans-serif; color: #525252; }

/* Header & Nav */
.banner { background-color: #f6f6f6; height: auto; padding-top: 10px; }
.header-h1 { color: #525252; }
.header-span{ color: #FFD43A; border-bottom: 5px solid #525252; border-radius: 5px; font-size: 1.5em; }
.nav { list-style-type: none; margin: 0; padding: 0; }
.nav li { display: inline-block; padding: 0 10px 10px 10px; width: 170px; }
.nav li a { display: block; color:#525252; background-color: #F0F0F0; text-decoration: none; text-align: center; padding: 5px 12px; border: 2px solid #525252; border-radius: 5px; }
.nav li a.active { color: white; background-color: #525252; }
.nav li a:hover { color: white; background-color: #525252; } 
/* Tables */
.video_table { width: 90%; margin-left: auto; margin-right: auto; border-collapse: separate; border-spacing: 0; }
.video_table th { padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #525252; color: #F0F0F0; }
.video_table td, .video_table th { border: 1px solid #525252; padding: 8px; }
.pending_table td.thumbnail, .pending_table th.thumbnail { width: 50px; }
.video_table td.title, .video_table th.title { min-width: 150px; }
.video_table td.group, .video_table th.group { max-width: 250px; }
.video_table td.actions, .video_table th.actions { width: 100px; }
.video_table td.date, .video_table th.date { width: 150px; }
.video_table tr td.actions, .video_table tr th.actions { width: 150px; }
.video_table tbody tr td a { display: block; text-decoration: none; color: #525252; }
.video_table tr:hover { background-color: #f9f9f9; }
.video_table tr td.actions a { text-align: center; padding: 5px 12px; margin: 3px; border-radius: 5px; }
.video_table tr td.actions a.vid_highlight { color: white; background-color: #543b8d; border: 2px solid #543b8d; }
.video_table tr td.actions a.vid_edit { color: white; background-color: #2c8a48; border: 2px solid #2c8a48; }
.video_table tr td.actions a.vid_details { color: white; background-color: #525252; border: 2px solid #525252; }
.video_table tr td.actions a.vid_highlight:hover { background-color: #f0f0f0; color: #543b8d; }
.video_table tr td.actions a.vid_edit:hover { background-color: #f0f0f0; color: #2c8a48; }
.video_table tr td.actions a.vid_details:hover { background-color: #f0f0f0; color: #525252; }

/* --- Table corners --- */
.video_table tr:first-child th:first-child { border-top-left-radius: 10px; }
.video_table tr:first-child th:last-child { border-top-right-radius: 10px; }
.video_table tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.video_table tr:last-child td:last-child { border-bottom-right-radius: 10px; }
/* --- Details Tables --- */
.video_data { max-width: 90%; margin-left: auto; margin-right: auto; border-collapse: separate; border-spacing: 0; }
.video_data th { padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: rgba(58, 112, 157, 0.5); color: #F0F0F0; }
.video_data { border: 1px solid rgba(58, 112, 157, 0.5); padding: 8px; border-radius: 10px; }
.video_data tr:nth-last-child(n+2) td { border-bottom: 1px solid rgba(136, 176, 209, 0.5); }
.video_data td:first-child, .video_data th:first-child { width: 50px; }
.video_data td:nth-child(2) { width: 25px; }
.video_data tbody tr td:nth-last-child(n+2) a { display: block; text-decoration: none; color: #3A709D; }
.video_data tr:hover > td { background-color: #f9f9f9; font-weight: bold; }  

/* Helper Classes */
a.right { float: right; }

.text_center { text-align: center; }
.text_right { text-align: right; }
.twitch_link { background-color: #543b8d; color: white; border: 2px solid #543b8d; padding: 5px 5px; border-radius: 5px; float: right; margin-right: 10px; font-size: .8em; text-decoration: none; }
.twitch_link:hover { background-color: #F0F0F0; color: #543b8d; }

@media only screen and (max-width: 1100px) {
    /* TABLES */
    .user_table { width: 85%; }
    /* FORMS */
    .form_wrapper { width: 65% }
}
/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    /* TABLES */
    .user_table { width: 100%; }
    /* FORMS */
    .form_wrapper { width: 100%; }
  }