<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
        {% block title %}
            Techlahoma - Video Manager
        {% endblock %}
    </title>
    <base target="_blank">
</head>
<body>
    <div class="banner">
        <div class="header">
            <h1 class="text_center">Techlahoma's Video Management Utility</h1>
            <br>
            <ul class="nav text_center">
                <li><a class="{% if request.path == '/' or request.path == '/video' %}active{% endif %}" href="/" target="_self">All Videos</a></li>
                <li><a class="{% if request.path == '/pending' %}active{% endif %}" href="{{ url_for('site.pending') }}" target="_self">Pending</a></li>
                <li><a class="{% if request.path == '/highlights' %}active{% endif %}" href="{{ url_for('site.highlights') }}" target="_self">Videos Needing Highlights</a></li>
            </ul>
        </div>
    </div>
    <br>
    <a class="twitch_link" href="https://www.twitch.tv/techlahoma/manager">Twitch Video Producer</a>
    {% block content %}

    {% endblock %}
    
</body>
</html>