{% extends 'base.html' %}

{% block title %}
    Techlahoma - Highlights
{% endblock %}
{% block content %}
<br>
<br>
<table class="video_table">
    <h2 class="text_center">Videos Needing Highlights</h2>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Days Since Broadcast</th>
            <th>Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for video in data.videos %}
        <tr>
            <td><a href="https://www.twitch.tv/techlahoma/manager/edit/{{ video.id }}" target="_blank"><img src="data:;base64,{{ video.thumbnail_url }}"></a></td>
            <td><a href="https://www.twitch.tv/techlahoma/manager/edit/{{ video.id }}" target="_blank">{{ video.title }}</a></td>
            <td class="text_center"><a href="https://www.twitch.tv/techlahoma/manager/edit/{{ video.id }}" target="_blank">{{ video.days }}</a></td>
            <td><a href="https://www.twitch.tv/techlahoma/manager/edit/{{ video.id }}" target="_blank">{{ video.type }}</a></td>
            <td>
                <a class="vid_actions vid_highlight" href="https://www.twitch.tv/techlahoma/manager/edit/{{ video.id }}" target="_blank">Highlight</a>
                <a class="vid_actions vid_details" href="{{ url_for('site.video', id=video.id) }}">Details</a>   <!-- url_for('site.video', id=video.id) -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}